.App {
  text-align: center;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#pill{
  background-color: #f5f5f5;
  width: 196px;
  height: 25px;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: auto;
}
