@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #e3e3e3; */
  width: 1000px;
}

#pill{
  margin-top: 150px;
  background-color: #f5f5f5;
  width: 196px;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 8px;
}

#nav-pill{
  width: 196px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 8px;
}

#top-nav-right{
  display: flex;
  flex-direction: row;
}

#apple-login{
  font-size: 16px;
  margin-top: 100px;
  height: 45px;
  width: 180px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
}

#top-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 100px;
  border-bottom: 1px solid #e3e3e3;
}

#main-div{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1000px;
  height: 100px;
  text-align: left;
}

#section-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  height: 100px;
  border-bottom: 1px solid #e3e3e3;
}

#section-nav-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

#avatar-img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

